<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="scriptAdmin.js"></script>
</head>

<body>
    <div class="auction">    <!-- onLoad="showClients()"> -->
        <h1>Admin panel</h1>

        <br>
        <a href="logout"><u><i>Logout</i></u></a>

        <div>
            <hr>
            <br>
            <form action="" name="bidding">
                <table id="table">
                    <tr>
                        <th>UID</th>
                        <th>Full name</th>
                        <th>Address</th>
                        <th>Login</th>
                        <th>Role</th>
                    </tr>
                    <tbody id="test_lots"></tbody>
                </table>
            </form>
        </div>
    </div>
    </div>

</body>

</html>